In [1]:
import numpy.random as rnd 
rnd.seed(1)

In [3]:
# rnd.uniform(low=0.0, high=1.0, size=None) 
# rnd.rand(shape) # Same as uniform(0.0, 1.0, None) 
# rnd.randint(low, high=None, size=None) 
# rnd.normal(loc=0.0, scale=1.0, size=None) 
# rnd.randn(shape) # Same as normal(0.0, 1.0, shape) 
# rnd.binomial(n, p, size=None)

NameError: name 'shape' is not defined

In [25]:
import pandas as pd

alco = pd.read_csv("alco2009.csv").fillna(method='ffill').reset_index().set_index(['State','Year']).drop(['index'], axis=1)

In [26]:
beer_seriesNY = alco.ix['New York']['Beer'] 
beer_seriesCA = alco.ix['California']['Beer']
beer_seriesNY.corr(beer_seriesCA)

/home/chris/.local/lib/python3.5/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
/home/chris/.local/lib/python3.5/site-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

0.9709778539165477

In [7]:
beer_seriesCA.cov(beer_seriesNY)

0.01743816287878787

In [8]:
[x.skew() for x in (beer_seriesCA, beer_seriesNY)]

[0.16457291292976317, 0.32838100586311286]

In [28]:
frameNY = alco.ix['New York'] 
frameNY.skew()

/home/chris/.local/lib/python3.5/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Beer       0.328381
Wine       0.127308
Spirits    0.656699
dtype: float64

In [10]:
frameNY.corr() # all pairwise correlations

             Beer      Wine   Spirits
Beer     1.000000  0.470690  0.908969
Wine     0.470690  1.000000  0.611923
Spirits  0.908969  0.611923  1.000000

In [11]:
frameNY.cov() # all pairwise covariances

             Beer      Wine   Spirits
Beer     0.016103  0.002872  0.026020
Wine     0.002872  0.002312  0.006638
Spirits  0.026020  0.006638  0.050888

In [42]:
pop = pd.read_csv("population.csv").set_index('State')
pop.head()

,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
State,,,,,,,,,,,
Alabama,4729656,4707496,4673889,4634063,4594911,4542912,4510588,4489876,4471462,4463343,4451497
Alaska,708862,694690,685532,679893,675322,667114,659305,647671,641974,633538,627748
Arizona,6676627,6587653,6499207,6360238,6190987,5973970,5758692,5590820,5451472,5303869,5166304
Arkansas,2910236,2887331,2867099,2841595,2814910,2776257,2746215,2722804,2704471,2690743,2678115
California,37266600,36887615,36538008,36185908,35947461,35770688,35538256,35236589,34867773,34481753,33994383

In [45]:
# Remove the last two lines: they contain future estimates
# pop_seriesNY = pop.ix["New York"][:-2]
pop_seriesNY = pop.ix["New York"]
# pop_seriesNY = pop.loc("New York")
pop_seriesNY.head()

/home/chris/.local/lib/python3.5/site-packages/ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

2010    19577730
2009    19522612
2008    19464482
2007    19419540
2006    19353588
Name: New York, dtype: int64

In [46]:
type(pop_seriesNY)

pandas.core.series.Series

In [48]:
pop.loc("New York")

ValueError: No axis named New York for object type <class 'pandas.core.frame.DataFrame'>

In [30]:
frameNY.head()

      Beer  Wine  Spirits
Year
2009  0.91  0.46     0.69
2008  0.92  0.47     0.67
2007  0.92  0.46     0.68
2006  0.88  0.45     0.65
2005  0.90  0.43     0.64

In [36]:
frameNY.ix[2009]

/home/chris/.local/lib/python3.5/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Beer       0.91
Wine       0.46
Spirits    0.69
Name: 2009, dtype: float64

In [32]:
# Convert the index from date to integer year
# pop_seriesNY.index = pop_seriesNY.index.str.split().str[-1].astype(int)
# frameNY.ix[2000:2009].corrwith(pop_seriesNY)
frameNY.corrwith(pop_seriesNY)

Beer      NaN
Wine      NaN
Spirits   NaN
dtype: float64